<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsIgnoreWhiteSpaceStrings>true</IsIgnoreWhiteSpaceStrings>
  <IsIgnoreNumberStrings>true</IsIgnoreNumberStrings>
  <IsIgnoreVerbatimStrings>false</IsIgnoreVerbatimStrings>
  <IsIgnoreStringLength>true</IsIgnoreStringLength>
  <IgnoreStringLength>2</IgnoreStringLength>
  <IsUseGlobalResourceFile>true</IsUseGlobalResourceFile>
  <GlobalResourceFileName>SRB_Strings</GlobalResourceFileName>
  <IsDontUseResourceAlias>false</IsDontUseResourceAlias>
  <IgnoreStrings />
  <IgnoreSubStrings />
  <IgnoreMethods />
  <IgnoreMethodsArguments />
</Settings>